.nav-right {
    background: $BACKGROUND_LIGHT;
    mix-blend-mode: normal;
    width: 17%;
    padding-top: 20px;

    .panel {
        padding: 0 15px;

        .panel__title {
            @include flexible_between();
            color: black;
            cursor: pointer;
            margin: 3px 0px;

            .panel__text {
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
            }

            .panel__counter {
                padding-right: 15px;
            }
        }

        .panel__delimeter {
            height: 1px;
            width: 100%;
            background-color: white;
            border: 1px solid white;
            border-radius: 50%;
            margin-top: 7px;
            opacity: 0.4;
        }

        .panel-list {
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 7px;
            }
            &::-webkit-scrollbar-track {
                background: $BACKGROUND_DARK;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $BACKGROUND_LIGHT;
                border-radius: 20px;
            }

            &.expanded {
                height: 200px;
                transition: all 0.5s;
            }
            &.non-expanded {
                height: 0px;
                transition: all 0.5s;
            }
            .ant-list-item {
                padding-top: 7px !important;
            }

            .ant-list-item-meta {
                align-items: center;
            }
        }
    }

    .channel {
        width: 95%;
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        border-style: none;
        padding-left: 5px;
        background-color: $BACKGROUND_LIGHT;
        border-radius: 3px;

        &.active {
            background-color: white;
        }

        .channel__name {
            color: $ICONCOLOR;
        }
    }

    .friend {
        margin-top: 15px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 0px 5px;
        height: 40px;
        border-style: none;


        .friend__avatar-border {
            overflow : hidden;
            border-radius: 50px;
            height: 60px;
            width: 60px;
            margin-right: 10px;

            .friend__avatar {
                object-fit: scale-down;
                width: 60px;
            }
        }

        .friend__online-status,
        .friend__offline-status {
            transform: translateX(-100%) translateY(250%);
            border-radius: 50%;
            width: 15px;
            height: 15px;
            margin-right: 7px;
            position : absolute;
        }

        /*.ant-list-item-meta {
            position: relative;

            &::after {
                content: "";
                transform: translateY(150%) translateX(200%) ;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                position : absolute;
                background-color: #70cc16;
            }
        }*/

        
        .friend__online-status {
            background-color: #70cc16;
        }

        .friend__offline-status {
            background-color: lightgray;
        }

        .friend__name {
            font-size: 14px;
            margin-left: -30px;
            color: yellowgreen;
        }

        &.active {
            mix-blend-mode: normal;
            border-radius: 4px;
            border-color: yellowgreen;
            border-style: solid;
        }
    }
}

.center-area {
    width: 78%;
    border-style: none;
    background: white;
    z-index: 1;

    .chat-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 93%;

        .chat-panel__field {
            max-height: 100%;
            .chat-message {
                margin: 0 25px;
            }
        }
    }

    .chat-panel__btn-panel {
        z-index: 5;
        height: 7%;
        width: 100%;
        @include flexible_between();
        border: 1px solid black;

        .btn-panel__icon {
            color: $BACKGROUND_LIGHT;
            font-size: 25px;
            margin: 0 15px;
            cursor: pointer;
            &:hover {
                color: black;
            }
        }

        .chat-panel__input-field {
            width: 100%;
            border-style: none;
            max-height: 50px;
            resize: none;

            &:focus {
                border-style: none;
                outline: none;
                box-shadow: none;
            }
            &:active {
                border-style: none;
                box-shadow: none;
            }
        }

        .btn-panel__icon_smile {
            border-style: none;
            background-color: #fff;
            margin-right: -10px;
        }
    }

    .ant-tabs-content {
        height: 100%;
    }
    .ant-list-empty-text {
        display: none;
    }

    .ant-list-split {
        max-height: 100%;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: #ede7f6;
            border-radius: 20px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $BACKGROUND_LIGHT;
            border-radius: 20px;
        }
    }

    .ant-list-item.main {
        background-color: #e3f2fd;
    }

    .ant-list-item.other {
        background-color: #ffebee;
    }

    //#ffebee
    //background-color: #e3f2fd;
    //background-color: #ffebee;
}
