$SEE_BATLE_TABLE_SIZE: 500px;

.sea-battle_main {
    @include flexible_between();
    flex: 1 1 400px;
}

.sea-battle__window {
    border: 1px solid $BACKGROUND_LIGHT;
    flex: 1 1 0px;
    height: 100%;
    padding: 30px;

    .sea-battle__marine {
        border: 1px solid #6f828a;
        height: $SEE_BATLE_TABLE_SIZE;
        width: $SEE_BATLE_TABLE_SIZE;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-wrap: wrap;
        box-sizing: content-box;

        .sea-battle__cell {
            border: 1px solid #6f828a;
            width: 10%;
            box-sizing: border-box;
            cursor: pointer;

            &.mine.ship {
                background-color: black;
            }

            &.empty {
                background-color: white;
                &:hover {
                    background-color: rgba(111, 130, 138, 0.5);
                    box-sizing: border-box;
                    border: 1px solid rgba(111, 130, 138, 0.8);
                }
            }

            &.miss {
                position: relative;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    border-bottom: 3px solid #111;
                    width: 100%;
                }
                &:before {
                    transform: rotate(-45deg);
                }
                &:after {
                    transform: rotate(45deg);
                }
            }

            &.shot {
                position: relative;
                background-color: black;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    border-bottom: 3px solid white;
                    width: 100%;
                }
                &:before {
                    transform: rotate(-45deg);
                }
                &:after {
                    transform: rotate(45deg);
                }
            }

            &.enemy.ship {
                background-color: white;
                position: relative;

                &:after,
                &:before {
                    content: "";
                    width: 20px;
                    height: 5px;
                    background-color: rgb(153, 33, 33);
                    top: 21px;
                    left: 13.5px;
                    position: absolute;
                    border-radius: 10px;
                }

                &:after {
                    transform: rotate(-40deg);
                }

                &:before {
                    transform: rotate(40deg);
                }
            }
        }
    }
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
