$SEE_BATLE_TABLE_SIZE: 500px;
$SEE_BATLE_TABLE_SIZE_MIN : 400px;

.sea-battle_main {
    @include flexible_between();
    flex: 1 1 400px;
}

@media screen and (max-width : 1420px) {
    .sea-battle_main {
        flex-direction: column;
        width: 100%;
        max-width: $CONTAINER_WIDTH/2;
    }
}

@media screen and (max-width : 640px) {
    .sea-battle__marine {
        width: $SEE_BATLE_TABLE_SIZE_MIN;
        max-width: $SEE_BATLE_TABLE_SIZE_MIN;
        height: $SEE_BATLE_TABLE_SIZE_MIN;
        max-height: $SEE_BATLE_TABLE_SIZE_MIN;
    }
}

@media screen and (min-width : 640px) {
    .sea-battle__marine {
        height: 100%;
    }
}


.sea-battle__window {
    border: 1px solid $BACKGROUND_LIGHT;
    flex: 1 1 0px;
    height: 100%;
    width: 100%;
    padding: 30px;

    .sea-battle__marine {
        border: 1px solid #6f828a;
        
       
        max-height: $SEE_BATLE_TABLE_SIZE;
        width: $SEE_BATLE_TABLE_SIZE;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-wrap: wrap;
        box-sizing: content-box;

        .sea-battle__cell {
            border: 1px solid #6f828a;
            width: 10%;
            height: 10%;
            
            box-sizing: border-box;
            cursor: pointer;

            &.mine.ship {
                background-color: black;
            }

            &.empty {
                background-color: white;
                &:hover {
                    background-color: rgba(111, 130, 138, 0.5);
                    box-sizing: border-box;
                    border: 1px solid rgba(111, 130, 138, 0.8);
                }
            }

            &.miss {
                position: relative;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    border-bottom: 3px solid #111;
                    width: 100%;
                }
                &:before {
                    transform: rotate(-45deg);
                }
                &:after {
                    transform: rotate(45deg);
                }
            }

            &.shot {
                position: relative;
                background-color: black;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    border-bottom: 3px solid white;
                    width: 100%;
                }
                &:before {
                    transform: rotate(-45deg);
                }
                &:after {
                    transform: rotate(45deg);
                }
            }

            &.enemy.ship {
                background-color: white;
                position: relative;

                &:after,
                &:before {
                    content: "";
                    width: 20px;
                    height: 5px;
                    background-color: rgb(153, 33, 33);
                    top: 21px;
                    left: 13.5px;
                    position: absolute;
                    border-radius: 10px;
                }

                &:after {
                    transform: rotate(-40deg);
                }

                &:before {
                    transform: rotate(40deg);
                }
            }
        }
    }
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}


.dash {
    height: 30px;
    background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld0JveD0iMCAwIDQgNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNCA0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0FCQUJBQiIgc3Ryb2tlLXdpZHRoPSIwLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjAiIHkxPSIwIiB4Mj0iNCIgeTI9IjQiLz4NCjwvc3ZnPg0K");
    background-repeat:repeat;
    background-position:0 0;
    background-size:4px 4px;
  }